/* ======FONTS====== */
@font-face {
    font-family: 'Livvic';
    src: url('Livvic-BoldItalic.woff2') format('woff2'),
        url('Livvic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('Livvic-SemiBold.woff2') format('woff2'),
        url('Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('Livvic-Regular.woff2') format('woff2'),
        url('Livvic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('Livvic-Bold.woff2') format('woff2'),
        url('Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('Livvic-MediumItalic.woff2') format('woff2'),
        url('Livvic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* ======GENERAL====== */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-header {
    max-width: 1150px;
}

.container-ready {
    width: 100%;
    max-width: 957px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ==================HEADER================== */

.header {
    padding-top: 77px;
    padding-bottom: 120px;
    background-color: #014E56;
}

.navbar {
    align-items: baseline;
    padding: 0px;
}

.navbar-brand {
    padding: 0;
    margin-right: 0px;
}

.header__img {
    width: 160px;
    height: 40px;
    transition: all 0.5s ease;
}

.header__img:hover {
    opacity: 0.8;
}

.header__img:active {
    opacity: 0.6;
}

.navbar-nav {
    margin-left: 80px;
}

.nav-link {
    padding: 0px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
    color: #fff !important;
    transition: opacity 0.5s;
}

.nav-link:hover {
    opacity: 0.8;
}

.nav-link:active {
    opacity: 0.6;
}

/* ======BUTTON====== */

.button {
    padding: 10px 32px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 24px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    transition: color 0.5s, background-color 0.6s;
}

.button:hover {
    color: #002529;
    background-color: #fff;
}

.button:active {
    opacity: 0.6;
}

.button-main {
    display: inline-block;
    padding: 10px 32px;
    font-weight: 600;
    font-size: 18px;
    color: #012F34;
    text-decoration: none;
    border-radius: 24px;
    border: 2px solid #012F34;
    background-color: transparent;
    transition: color 0.5s, background-color 0.6s, border 0.6s;
}

.button-main:hover {
    color: #002529;
    border: 2px solid #79C8C7;
    background-color: #79C8C7;
}

.button-main:active {
    border: 2px solid #2C6269;
    background-color: #2C6269;
}

/* ======HEADER-BURGER====== */
.navbar-light .navbar-toggler {
    border: none;
}

.offcanvas-bg {
    background-color: #2C6269;
}

.header__offcanvas {
    display: flex;
    align-items: center;

}

.navbar-toggler-header {
    display: none;
}


/* ABOUT PAGE */

/* ABOUT HERO */

.hero {
    background: #014E56;
    padding: 120px 0px;
}

.about-hero-heading {
    font-family: 'Livvic';
    font-weight: bold;
    font-size: 64px;
    line-height: 100px;
}



.dash {

 background: #F67E7E;
 width: 50px;
 height: 4px;
}


/* ABOUT DIRECTORS */

.directors {
    background: #004047;
    position: relative;

}

.directors-heading {
    padding-top: 88px;
    font-family: 'Livvic';
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.card {

    background: #012F34;
    margin-bottom: 52px;
    margin: 20px;
}
.card--img {
    margin-top: 32px;
    margin-bottom: 16px;
}

.card-heading {
    font-family: 'Livvic';
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
}

.card-desc {
    font-family: 'Livvic';
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 56px;
}


/* ======RESPINSIV====== */
@media only screen and (max-width: 768px) {
    .header {
        padding-top: 64px;
        padding-bottom: 112px;
    }

    .header__img {
        width: 128px;
        height: 32px;
    }

    .navbar-nav {
        margin-left: 48px;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("../img/burger.svg");
    }

    .navbar-toggler {
        padding: 0px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }
}

@media only screen and (max-width: 575px) {
    .header {
        padding-top: 48px;
        padding-bottom: 80px;
    }

    .offcanvas {
        width: 250px;
        padding-top: 112px;
        background-image: url(../img/offsed-oval.svg);
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    .offcanvas .navbar-toggler-icon {
        position: absolute;
        top: 56px;
        right: 25px;
        background-image: url(../img/close.svg);
        background-size: 18px;
        background-position: top;
    }

    .offcanvas .header__offcanvas {
        flex-direction: column;
    }

    .offcanvas .nav-item {
        margin-bottom: 24px;
    }

    .navbar-toggler-header {
        display: flex;
        /* width: 18px; */
        /* height: 17px; */
    }
}

@media only screen and (max-width: 500px) {
    .navbar-expand-lg {
        flex-wrap: nowrap !important;
        justify-content: flex-start !important;
    }
}

/* ==================MAIN==================  */
.main {
    flex-grow: 1;
}

/* ======READY====== */
.ready {
    padding: 76px 0px;
    background-image: url(../img/ready-oval.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: #F67E7E;
}

.container-ready {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ready__header {
    margin: 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
}

/* ======HERO-CONTACT====== */
.hero-contact {
    background-color: #014E56;
}

/* ======RESPONSIV-MAIN====== */
/* ======READY====== */

@media only screen and (max-width: 768px) {
    .container-ready {
        max-width: 573px;
        padding: 0px 10px;
    }

    .ready {
        background-position-y: 140%;
    }

    .ready__header {
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
    }
}


@media only screen and (max-width: 575px) {
    .container-ready {
        flex-direction: column;
    }

    .ready {
        padding: 83px 0px;
        background-position-y: 115%;
    }

    .ready__header {
        max-width: 200px;
        margin-bottom: 24px;
        text-align: center;
    }
}

/* ==================FOOTER================== */
.footer {
    position: relative;
    padding: 48px 0px;
    background-color: #002529;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__item+.footer__item {
    margin-left: 125px;
}

.footer__img {
    width: 160px;
    height: 40px;
    margin-bottom: 25px;
    transition: opacity 0.5s;
    transition: all 0.6s ease;
}

.footer__img:hover {
    opacity: 0.8;
}

.footer__img:active {
    opacity: 0.6;
}

.footer__item-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
    transition: color, opacity 0.5s;
}

.footer__item-link+.footer__item-link {
    margin-left: 40px;
}

.footer__item-link:hover {
    color: #fff;
    opacity: 0.8;
}

.footer__item-link:active {
    opacity: 0.6;
}

.footer__text {
    max-width: 163px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.6);
}

/* ======FOOTER-RIGHT====== */

.footer__right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.footer__icon-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 51px;
    list-style: none;
}

.footer__icon-item+.footer__icon-item {
    margin-left: 16px;
}

.footer__icon-link {
    color: #fff;
    transition: color 0.5s ease;
}

.footer__icon-link:hover {
    color: #79C8C7;
}

.footer__icon-link:active {
    color: #002529;
}

.footer__right-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.6);
}

/* ======RESPONSIV-FOOTER====== */

@media only screen and (max-width: 768px) {

    .footer {
        padding: 56px 0px 113px 0px;
    }

    .footer__img {
        width: 96px;
        height: 24px;
        margin-bottom: 53px;
    }

    .footer__text {
        position: absolute;
        top: 50px;
        right: 13px;
        text-align: right;
    }

    .footer__icon-list {
        position: absolute;
        left: 13px;
        bottom: 10px;
    }

    .footer__right-text {
        position: absolute;
        bottom: 40px;
    }
}

@media only screen and (max-width: 495px) {
    .footer {
        padding: 66px 0px 64px 0px;
    }

    .footer__container {
        align-items: center;
        flex-direction: column;
    }

    .footer__list {
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__item+.footer__item {
        margin-top: 24px;
        margin-left: 0px;
    }

    .footer__img {
        width: 96px;
        height: 24px;
        margin-bottom: 24px;
    }

    .footer__item-link {
        font-size: 15px;
        line-height: 25px;
    }

    .footer__item-link+.footer__item-link {
        margin-left: 24px;
    }

    .footer__text {
        position: static;
        text-align: center;
        margin-bottom: 0px;
    }

    .footer__right {
        align-items: center;
    }

    .footer__icon-list {
        position: static;
        margin-bottom: 16px;
    }

    .footer__right-text {
        position: static;
    }
}