@font-face {
    font-family: 'Livvic';
    src: url('Livvic-BoldItalic.woff2') format('woff2'),
        url('Livvic-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('Livvic-SemiBold.woff2') format('woff2'),
        url('Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('Livvic-Regular.woff2') format('woff2'),
        url('Livvic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('Livvic-Bold.woff2') format('woff2'),
        url('Livvic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('Livvic-MediumItalic.woff2') format('woff2'),
        url('Livvic-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* ======GENERAL====== */